<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="./CSS/home.css" media="screen" />
    <link rel="stylesheet" type="text/css"  href="./CSS/reset.css" media="screen" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">
    <title>Blog-v1.0</title>
</head>

<header class="header">
    <h1 class="intro">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
</header>

<body>
    <section class="articles">
        <div class="grid-item">
            <img class="cover-photo" id="" src="https://i.imgur.com/5xakjMm.jpg" alt="Cover-Photo" />
            <h2 class="title">Lorem.</h2>
            <p class="date">July 16 2022</p>
        </div>

        <div class="grid-item">
            <img class="cover-photo" id="" src="https://i.imgur.com/3zp9keA.jpg" alt="Cover-Photo" />
            <h2 class="title">Lorem ipsum.</h2>
            <p class="date">July 4 2022</p>
        </div>

        <div class="grid-item">
            <img class="cover-photo" id="" src="https://i.imgur.com/zp9cByh.jpg" alt="Cover-Photo" />
            <h2 class="title">Lorem ipsum dolor.</h2>
            <p class="date">June 30 2022</p>
        </div>

        <div class="grid-item">
            <img class="cover-photo" id="" src="https://i.imgur.com/cJ4yfV6.jpg" alt="Cover-Photo" />
            <h2 class="title">Lorem.</h2>
            <p class="date">June 2 2022</p>
        </div>

        <div class="grid-item">
            <img class="cover-photo" id="" src="https://i.imgur.com/lwtr3xw.jpg" alt="Cover-Photo" />
            <h2 class="title">Lorem ipsum dolor.</h2>
            <p class="date">May 24 2022</p>
        </div>

        <div class="grid-item">
            <img class="cover-photo" id="" src="https://i.imgur.com/SpvLd7i.jpg" alt="Cover-Photo" />
            <h2 class="title">ipsum dolor.</h2>
            <p class="date">May 7 2022</p>
        </div>
    </section>
</body>
</html>